body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container, .container * {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #696969;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 270px;
}
h1 {
    text-align: center;
}
body, h1 {
    margin: 0;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px; 
    width: 100%;
    max-width: 900px;
    margin-bottom: 100px;
}
.placeholder {
    background-color: #696969;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex: 1;
    margin: 10px
}
