<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/onama.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nama</title>
</head>
<body>
    <div class="header">
        <div class="title">O NAMA</div>
        <div class="pocetna">
            <button><a href="/">Pocetna</a></button>
        </div>
        <div class="blog">
            <button><a href="blog">Blog</a></button>
        </div>
        <div class="kontakt">
            <button><a href="kontakt">Kontakt</a></button>
        </div>
    </div>
    <div class="main">
        <div class="tekst">

            <p>
                 Projekat su radili Faris salcinovic, Filip Subotić i Imran Kratina. Studenti smo Politehnickog fakulteta na univerzitetu u Zenici,
                 imamo 20 godina, i nakon zavrsene srednje skole odlucili smo se upisati ovaj fakultet.
                Upisivanje politehničkog fakulteta je za nas (bar do sada) bio dobar izbor iz više razloga.
                IT industrija nudi širok spektar karijernih mogućnosti s dobrim platama i stabilnošću posla,
                s obzirom na rastuću potražnju za tehnologijom i digitalnim rješenjima.
                Na našem fakultetu studenti stiču temeljno znanje i vještine u oblastima poput programiranja, mreža, i razvoja softvera.
                To nam omogućava da se specijaliziramo u različitim IT sektorima. 
                Osim toga, obrazovanje na našem fakultetu često uključuje praktičan rad i projekte, 
                što nam pomaže da steknemo stvarno iskustvo i budemo bolje pripremljeni za tržište rada. 
                Kroz kombinaciju teorijskog znanja i praktičnih vještina, naš fakultet omogućavaju studentima da se uspješno suoče s izazovima modernog tehnološkog svijeta. 

        </div>
        <div class="slike">
            <img src="images/onama/1.jpg" alt="">
            <img src="images/onama/2.jpg" alt="">
            <img src="images/onama/3.jpg" alt="">
            <img src="images/onama/4.jpg" alt="">
            <img src="images/onama/9.jpg" alt="">
            <img src="images/onama/10.jpg" alt="">
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>