<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/sport.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport</title>
</head>
<body>
    <div class="card1">
        <div class="subcard1"></div>
        <div class="subcard2">
            <div class="sport">
                <h1>SPORT</h1>
            </div>
            <div class="fudbal">
                <a href="#fudbal-section">FUDBAL</a>
            </div>
            <div class="kosarka">
                <a href="#kosarka-section">KOSARKA</a>
            </div>
            <div class="rukomet">
                <a href="#rukomet-section">RUKOMET</a>
            </div>
            <div class="ragbi">
                <a href="#ragbi-section">RAGBI</a>
            </div>
        </div>
    </div>
    <div id="fudbal-section" class="fudbal-section">
        <div class="tekst">
           
        </div>
        <div class="slike">
            <p>Prva fudbalska lopta u Zenici se zakotrljala 1912. godine, dok je 1930. godine osnovan prvi zenički
                fudbalski klub koji je nastupao širom BiH, a potom i Kraljevine Jugoslavije. Evolucijom fudbalske igre na
                ovim prostorima, a nakon završetka Drugog svjetskog rata, neposredno po oslobođenju grada od okupatora,
                ratni veterani su odlučili stvoriti fudbalski klub koji će dostojno predstavljati Zenicu. FK Čelik je osnovan
                16. juna 1945. godine i svoje utakmice je igrao na starom Bilinom polju, ali već 50-ih godina prelazi na
                stadion Blatuša koji je starijim generacijama navijača ostao ugraviran u lijepim sjećanjima, a da bi se
                početkom 70-ih sa izgradnjom novog Bilinog polja klub vratio na mjesto gdje je sve počelo te ostao vezan
                za zenički hram fudbala do danas.
                Također, moramo naglasiti da su te 70-te bile zlatne godine za Čelik, jer je tad klub ostvario svoje
                najzapaženije rezultate u Prvoj saveznoj ligi Jugoslavije, koja je bila među jačim evropskim ligama. Osvojio
                je 2 puta zaredom Mitropa/Srednjoevropski kup, najstarije evropsko fudbalsko takmičenje i bio je prvi klub
                iz Jugoslavije koji je osvojio grupu Rapan/Intertoto kupa.
             </p>
        </div>
    </div>
    <div id="kosarka-section" class="kosarka-section">
        <div class="divKosarka"><p>Za zvanični početak igranja košarke u Zenici uzima se 1954. godina , kada je formiran prvi košarkaški klub.
            Tokom historije Čelik je postizao različite rezultate, ali ono po čemu je KK &quot;Čelik&quot; prepoznatljiv jeste
            omladinska škola košarke, kroz koju je prošlo oko 15.000 mladih košarkaša.
            KK &quot;Čelik&quot; je u svijet košarke plasirao mnoge poznate košarkaše i trenere, od kojih su najpoznatiji Matan
            Rimac, Zdenko Grgić, Emir Mutapčić, Zoran Savić, Dževad Alihodžić, Teoman Alibegović te trenutni
            selektor košarkaške reprezentacije BiH Mensur Bajramović.
            Krajem 90-tih godina dolazi do reintegracije sa KK Zenica Metalno, te klub mijenja ime u KK &quot;Zenica-
            Čelik&quot;.
            Novu generaciju zeničke škole košarke su predvodili Ivan Opačak, Kenan Bajramović, Hasan Rizvić, Emir
            Preldžić, Ognjen Kuzmić i drugi. Pomenuti igrači ostvaruju zapaženu karijeru u košarkaškoj Evropi.
            2008. godine klub vraća svoje staro ime i dodaje prefiks &quot;Omladinski&quot; što predstavlja opredjeljenje kluba za
            stvaranje sopstvenih mladih igrača.
            Uspjesi kluba -
        </p>
        
        </div>
    </div>
    <div id="rukomet-section" class="rukomet-section">
        <div class="divRukomet"><p>Rukometni kub ,,Čelik” je osnovan 1950. godine i spada u red najstarijih rukometnih klubova u BiH i
            jugoistočnoj Evropi, jer je osnovan svega godinu dana poslije početka igranja rukometa u Bosni i
            Hercegovini i bivšoj Jugoslaviji. Prvobitni naziv kluba je bio RK “Zenica”, da bi tokom sedamdesetih
            godina prošlog vijeka promijenio u RK “Čelik”, što je ostalo i do danas.
            RK ,,Čelik” je imao svojih uspona i padova, ali nikada nije prestajao sa radom.
            U sezoni 2008./09 RK Čelik je u prvoj ligi Federacije BiH izborio prvo mjesto i plasman u Premijer ligu
            BiH, gdje je osam godina igrao jednu od najvažnijih uloga u BiH rukometu. Sada je u Prvoj Ligi FBiH
            Sjever.
            U 65 godina postojanja kluba RK Čelik je u 2015. godini postigao najbolje rezultate, te prvi put u istoriji –
            plasman u evropske rukometne kupove.
            Sinonim za zenički rukomet predstavlja Rukometni stadion Papirna, na čijem otvorenom betonskom terenu
            su učile i stasale mnogobrojne generacije zeničkih rukometaša.
            U sklopu stadiona, koji se nalazi na adresi Abdulaziza Aska Borića broj 31, se nalaze i službene prostorije
            kluba.
           </p></div>
    </div>
    <div id="ragbi-section" class="ragbi-section">
        <div class="divRagbi">
            <p>Ragbi Klub Čelik Zenica je najuspješniji bosanskohercegovački ragbi klub. Osnovan je 1972. godine u
            Zenici. Klupske boje su crno-crvene. Klub svoje utakmice odigrava na terenima Stadiona Kamberovića
            polje i Bilino polje.
            Ragbi klub Čelik je prvi osnovani ragbi klub u Bosni i Hercegovini. Osnovala ga je grupa istaknutih
            zeničkih intelektualaca na čelu sa Odić Nezirom, Sarajlić Abdulahom, Haramandić Hakijom, Tarabar
            Askom, Talić Muhamedom, Hadžić Raifom i Salčinović Emirom. 
             </p></div>
    </div>
    
</body>
</html>