<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/unos.css">
    <title>Blog</title>
</head>
<body>
    <div class="header">
        <div class="h-card">BLOG</div>
        <div class="h-card"></div>
        <div class="h-card"></div>
        <div class="h-card"></div>
        <div class="h-card"><a href="blog"><button type="button">HOME</button></a></div>
    </div>
    <form action="/unos" method="POST">
        <div class="form">
            <div class="f-card">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="f-card">
                <label for="content">Content</label>
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
            </div>
            <div class="f-card">
                <button type="submit">Submit</button>
            </div>
        </div>
</body>
</html>