<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="styles/glavna.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Zenica</title>
</head>
<body>

    <div class="card1">
        <div class="header">
            <div class="grb">
                <img src="images/glavna/GRB.png" alt="">
            </div>
        </div>
        <div class="main">
            <h1>DOBRO DOŠLI
            <br> 
            U ZENICU</h1>
        </div>
    </div>

    <div class="card2">
        <a href="priroda" target="_blank" class="subcard1">
            <div class="overlay"></div>
            
        </a>

        <a href="nova_stranica.html" target="_blank" class="subcard2">
            <div class="overlay"></div>
            
        </a>
        
        <a href="sport" target="_blank" class="subcard3">
            <div class="overlay"></div>
            
        </a>
        
        <a href="pojestpopit" target="_blank" class="subcard4">
            <div class="overlay"></div>
            
        </a>
    </div>
    <div class="card3">
        <a href="blog" target="_blank" class="blog">
            <div class="overlay"></div>
            
        </a>
        <div class="footer">
            <h2 class="f-h">asasasas</h2>
            <div class="flex-footer">
                <div class="foot-card"><img src="images/glavna/github.svg"></div>
                <div class="foot-card"><img src="images/glavna/instagram.svg"></div>
                <div class="foot-card"><img src="images/glavna/facebook.svg"></div>
            </div>
        </div>
    </div>
    
</body>
</html>