<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/priroda.css">
    <title>Priroda</title>
</head>
<body>
    <div class="navbar">
        <div class="flex-card">HOME</div>
                <p class="link"  id="smetovibrdo">SMETOVI</p>
                <p class="link"  id="kamberovicapolje">KAMBEROVIĆA POLJE</p>
                <p class="link"  id="klopackestijene">KLOPAČKE STIJENE</p>
                <p class="link" id="lisacbrdo">LISAC</p>
                <p class="link"  id="volglava">VOLOVSKA GLAVA</p>
                <p class="link" id="jezeromos">JEZERO MOŠĆANICA</p>
    </div>
    <h1 class="centered-h1" id="home">
        <video autoplay muted loop class="h1-video">
            <source src="images/priroda/videolol.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        PRIRODA
    </h1>
</div>
    <div class="grid">
        <div class="g-card g-1" id="smetovibrdo"><div class="ikone">
            <img src="images/priroda/brdo.svg" class="brdo" alt="brdo-ikona">
        </div>
        <div class="g-card-text">SMETOVI</div>
    </div>
        <div class="g-card g-2 " id="kamberovicapolje"><div class="ikone">
            <img src="images/priroda/park.svg" class="brdo" alt="park">
        </div>
        <div class="g-card-text">KAMBEROVIĆA POLJE</div>
    </div>
        <div class="g-card g-3" id="klopackestijene"><div class="ikone">
            <img src="images/priroda/brdo.svg" class="brdo" alt="brdo-ikona">
        </div>
        <div class="g-card-text">KLOPAČKE STIJENE</div>
    </div>
        <div class="g-card g-4" id="lisacbrdo">
            <div class="ikone"><img src="images/priroda/brdo.svg" class="brdo" alt="brdo-ikona">
            </div>
            <div class="g-card-text">LISAC</div>
        </div>
        <div class="g-card g-5" id="volglava">
            <div class="ikone"><img src="images/priroda/brdo.svg" class="brdo" alt="brdo-ikona">
            </div>
            <div class="g-card-text" >VOLOVSKA GLAVA</div>
        </div>
        <div class="g-card g-6" id="jezeromos"><div class="ikone">
            <img src="images/priroda/jezero.svg" class="brdo" alt="jezero">
        </div>
        <div class="g-card-text">JEZERO MOŠĆANICA</div>
    </div>
    </div>
    <div class="smetovi" id="smet">
        <div class="s-text gs-card">Smetovi je planina u općini Zenici.Najviši je vrh na 1025 metara nadmorske visine. Od središta Zenice udaljena je oko 8 kilometara.
            Poznato je izletište Zeničanima. Lijepih je krajobraza zbog čega je omiljena slikarima i fotografima. Mnogo je uređeno za rekreativce. To su uređene su staze za šetnju, vožnju biciklom, mjesta za roštiljanje, odmor i ostalo. Izgrađeni su športski tereni za košarku, nogomet i odbojku na pijesku, staze za brdski biciklizam i planinarenje. Na planini je športsko-rekreacijski centar. Na platou je restoran i prenoćište. Uređeno je i za zimske ugođaje staza za skijaše i skijaški lift</div>
            <div class="s-slika gs-card"><img src="images/priroda/smet.jpg"></div>
        </div>
    <div class="kamberovice" id="kamb">
        <div class="k-slika gk-card"><img src="images/priroda/kambe.jpg"></div>
        <div class="k-text gk-card">Kamberovića polje je jedna od zeničkih centralnih urbanih cjelina smještena na rijeci Bosni između Pečuja, Gornjih crkvica, Crkvica, Jalije, Stare čaršije, Kanara, Bilina polja i Blatuše.
            Kamberovića polje je sigurno najpoznatije po sajmištu na kojem se redovito održavaju: ZEPS (Generalni BH sajam), ZEPS Intermetal (Međunarodni sajam metala), AGROZOO (Sajam poljoprivrede i sitnih životinja) i ZEPS BAZAR (Novogodišnji prodajni sajam). Navedeni sajmovi održavaju se na području sportskog parka. U dosljednoj budućnosti u tu svrhu je uplanirana lokacija Plandilo.
            Lokacija sportskog parka također ugošćuje cirkuse i luna parkove.
            Hiljade Zeničana se okupljaju zorom svakog 21 marta na Kamberovića polju da proslave prvi dan proljeća uz manifestaciju pod nazivom Čimburijada.
            </div>
    </div> 
    <div class="klopacke" id="klop">
        <div class="ks-text gks-card">Klopačke stijene, brdo kod Zenice. Dio je masiva Čolana. Nalazi se s istočne strane grada i istočno od rijeke Bosne. Brdo dominira obzorom istočne strane Zeničke kotline. Izvrstan je pogled. Prikladno se RTV odašiljače odnosno relejne postaje. Prekrasan je vidik s Klopačkih stijena. Postoji legenda da su na kamenim strminama Klopačkih stijena alke za vezivanje brodova. Na obroncima se nalazi sela Klopče, Kopilo, Klopački Vrh i dr. Uz obalu Babine rijeke, kod Kule je kamenolom Klopačke stijene. Potokom Stijenčice odvojene su od Vratačke stijene.</div>
        <div class="ks-slika gks-card"><img src="images/priroda/klopacke.jpg"></div>
    </div>
    <div class="lisac" id="lis">
        <div class="l-slika gl-card"><img src="images/priroda/li.jpg"></div>
        <div class="l-text gl-card">Lisac je planina u općini Zenici. Nalazi se na sjeveru Zeničke kotline. Najviši vrh je Liskovača na 1348 metara nadmorske visine. Dugo se smatralo da je vrh Jelina (1311) najviši vrh. Dolina rijeke Bosne koja teče istočno odvaja ju od planine Vepra. U narodnoj predaji te su dvije planine nekoć bile jedna planina sve dok se braća blizanci, koji su dotad živjeli u slozi, nisu teško posvadili i svađa je okončala smrću obojice. Planina se od žalosti razdvojila na dva dijela između kojih je potekla rijeka od suza. U predaji je grob jednog brata na planini Liscu, a drugog na planini Vepru. Prema predaji zavađena će braća oživiti i pomiriti se. Kad se pomire, Vepar i Lisac opet će biti jedna planina, a čim se to dogodi jezerske vode poteći će uzvodno i "vratit će se potop".</div>
    </div>
    <div class="volovska" id="vol">
        <div class="v-text gv-card">Volovska glava je uzvisina iznad Zenice. Najviša kota je na 585 metara nadmorske visine. Nalazi se s jugozapadne strane. Okružuju ju Gornje i Donje Vardište, Velika i Mala Broda, Krivače i Crnile. Na vrhu je vidikovac. S vrha se pruža prekrasan pogled na Zenicu i okolicu.
            Potječe iz miocena i nalazi se u povlatnoj vapnenačkoj zoni s povlatnim slojevima ugljena.</div>
        <div class="v-slika gv-card"><img src="images/priroda/volizlet.jpg"></div>
    </div> 
    <div class="moscanica" id="mos">
        <div class="m-slika gm-card"><img src="images/priroda/jezero.jpg"></div>
        <div class="m-text gm-card">Jezero je nastalo na mjestu gdje se kopalo radi istraživanja terena radi eksploatacije ugljena. Od 1960. godine se istraživalo. Od 1999. nije se kontinuirano vadilo ugljen na Mošćanici. U međuvremenu se na mjestu kopanja formiralo ovo jezero koje ljeti privlači kupače.
            Nastalo je punjenjem jednog od rudarskih okana, na prostoru davno napuštenog rudnika. Kupanje na ovom jezeru je ilegalno jer ovo područje nikada nije proglašeno (javnim) kupalištem, jer ovo su prostori koji pripadaju rudniku Mošćanica čije su ovo rudarske jame i pristup osobama koje nisu zaposlenici je zabranjen. Nije poznato je li rudnik ikad ispitivala kakvoću vode pa se ne zna stupanj zagađenosti. 
        </div>
    </div>
    <div class="footer">
        <h2 class="f-h">asasasas</h2>
        <div class="flex-footer">
            <div class="foot-card"><img src="images/priroda/github.svg"></div>
            <div class="foot-card"><img src="images/priroda/instagram.svg"></div>
            <div class="foot-card"><img src="images/priroda/facebook.svg"></div>
        </div>
    </div>
<script>
    document.querySelector(".g-1").addEventListener('click', function() {
        document.querySelector('#smet').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector(".g-2").addEventListener('click', function() {
        document.querySelector('#kamb').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector(".g-3").addEventListener('click', function() {
        document.querySelector('#klop').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector(".g-4").addEventListener('click', function() {
        document.querySelector('#lis').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector(".g-5").addEventListener('click', function() {
        document.querySelector('#vol').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector(".g-6").addEventListener('click', function() {
        document.querySelector('#mos').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector('#smetovibrdo').addEventListener('click', function() {
        document.querySelector('#smet').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector('#kamberovicapolje').addEventListener('click', function() {
        document.querySelector('#kamb').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector('#klopackestijene').addEventListener('click', function() {
        document.querySelector('#klop').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector('#lisacbrdo').addEventListener('click', function() {
        document.querySelector('#lis').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector('#volglava').addEventListener('click', function() {
        document.querySelector('#vol').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector('#jezeromos').addEventListener('click', function() {
        document.querySelector('#mos').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector(".flex-card").addEventListener('click', function() {
        document.querySelector('#home').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector('#smetovibrdo').addEventListener('click', function() {
        document.querySelector('#smet').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
    document.querySelector("#kamberovicapolje").addEventListener('click', function() {
        document.querySelector('#kamb').scrollIntoView({
            behavior: 'smooth',
            block: 'start'
            });
        });
        document.querySelector("#klopastijene").addEventListener('click', function() {
    document.querySelector('#klop').scrollIntoView({
        behavior: 'smooth',
        block: 'start'
    });
});

document.querySelector("#lisacbrdo").addEventListener('click', function() {
    document.querySelector('#lis').scrollIntoView({
        behavior: 'smooth',
        block: 'start'
    });
});

document.querySelector("#volglava").addEventListener('click', function() {
    document.querySelector('#vol').scrollIntoView({
        behavior: 'smooth',
        block: 'start'
    });
});

document.querySelector("#jezeromos").addEventListener('click', function() {
    document.querySelector('#mos').scrollIntoView({
        behavior: 'smooth',
        block: 'start'
    });
});
</script>     
</body>
</html>