<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport</title>
</head>
<body>
    <div class="card1">
        <div class="subcard1"></div>
        <div class="subcard2">
            <div class="sport">
                <h1>SPORT</h1>
            </div>
            <div class="fudbal">
                <a href="#fudbal-section">FUDBAL</a>
            </div>
            <div class="kosarka">
                <a href="#kosarka-section">KOSARKA</a>
            </div>
            <div class="rukomet">
                <a href="#rukomet-section">RUKOMET</a>
            </div>
            <div class="ragbi">
                <a href="#ragbi-section">RAGBI</a>
            </div>
        </div>
    </div>
    <div id="fudbal-section" class="fudbal-section">
        <div class="tekst">
           
        </div>
        <div class="slike">
            <p>Prva fudbalska lopta u Zenici se zakotrljala 1912. godine, dok je 1930. godine osnovan prvi zenički
                fudbalski klub koji je nastupao širom BiH, a potom i Kraljevine Jugoslavije. Evolucijom fudbalske igre na
                ovim prostorima, a nakon završetka Drugog svjetskog rata, neposredno po oslobođenju grada od okupatora,
                ratni veterani su odlučili stvoriti fudbalski klub koji će dostojno predstavljati Zenicu. FK Čelik je osnovan
                16. juna 1945. godine i svoje utakmice je igrao na starom Bilinom polju, ali već 50-ih godina prelazi na
                stadion Blatuša koji je starijim generacijama navijača ostao ugraviran u lijepim sjećanjima, a da bi se
                početkom 70-ih sa izgradnjom novog Bilinog polja klub vratio na mjesto gdje je sve počelo te ostao vezan
                za zenički hram fudbala do danas.
                Također, moramo naglasiti da su te 70-te bile zlatne godine za Čelik, jer je tad klub ostvario svoje
                najzapaženije rezultate u Prvoj saveznoj ligi Jugoslavije, koja je bila među jačim evropskim ligama. Osvojio
                je 2 puta zaredom Mitropa/Srednjoevropski kup, najstarije evropsko fudbalsko takmičenje i bio je prvi klub
                iz Jugoslavije koji je osvojio grupu Rapan/Intertoto kupa.
             </p>
        </div>
    </div>
    <div id="kosarka-section" class="kosarka-section">
        <div class="divKosarka"><p>Za zvanični početak igranja košarke u Zenici uzima se 1954. godina , kada je formiran prvi košarkaški klub.
            Tokom historije Čelik je postizao različite rezultate, ali ono po čemu je KK &quot;Čelik&quot; prepoznatljiv jeste
            omladinska škola košarke, kroz koju je prošlo oko 15.000 mladih košarkaša.
            KK &quot;Čelik&quot; je u svijet košarke plasirao mnoge poznate košarkaše i trenere, od kojih su najpoznatiji Matan
            Rimac, Zdenko Grgić, Emir Mutapčić, Zoran Savić, Dževad Alihodžić, Teoman Alibegović te trenutni
            selektor košarkaške reprezentacije BiH Mensur Bajramović.
            Krajem 90-tih godina dolazi do reintegracije sa KK Zenica Metalno, te klub mijenja ime u KK &quot;Zenica-
            Čelik&quot;.
            Novu generaciju zeničke škole košarke su predvodili Ivan Opačak, Kenan Bajramović, Hasan Rizvić, Emir
            Preldžić, Ognjen Kuzmić i drugi. Pomenuti igrači ostvaruju zapaženu karijeru u košarkaškoj Evropi.
            2008. godine klub vraća svoje staro ime i dodaje prefiks &quot;Omladinski&quot; što predstavlja opredjeljenje kluba za
            stvaranje sopstvenih mladih igrača.
            Uspjesi kluba -
            Najveći uspjeh zeničke košarke u više od pet decenija postojanja je svakako učešće u Prvoj A ligi bivše Jugo
            slavije u sezoni 1989/1990. Tadašnja Prva A liga Jugoslavije smatrala se najjačom u Evropi jer je, uz «Čelik
            », u toj ligi igralo nekoliko evropskih prvaka, klubovi kao što su Cibona, Olimpija, Partizan, Zvezda, Bosna, 
            Zadar... Sve ove ekipe su bili zvanični gosti dvorane Bilmišće.
            Pored ovog velikog uspjeha, «Čelik» je 1988. godine postao pobjednik Kupa Bosne i Hercegovine, a još
            četiri puta je bio finalista ovog takmičenja.
            U novijoj historiji najveći uspjeh zeničke košarke je titula prvaka Bosne i Hercegovine u sezoni 1994/95, te učešće 
            u Kupu Radivoja Koraća u sezoni 2001/2002.
            Omladinski Košarkaški Klub «Čelik» u posljednjih nekoliko sezona prepoznatljiv je na domaćoj košarkaškoj sceni, 
            kao Klub koji svake godine «izbaci» po jednog talenta i velikog košarkaša. Tako su posljednjih godina igrač
            ki i stručni kadar Kluba činili isključivo igrači i treneri iz Zenice. O kvaliteti rada u Klubu govori i podatak d
            a se te domaće, mlade snage svake godine ravnopravno takmiče sa ekipama čiji je godišnji budžet i do deset 
            puta veći od budžeta kojim raspolaže naš Klub.
            Kroz učešće u Super ligi BiH i Ligi za prvaka,
            «Čelik» je u nekoliko navrata uspio izboriti plasman na evropsku scenu. Međutim zbog teške finansijske situ
            acije, Klub je samo jednom prihvatio učešće u Kupu Radivoja Koraća u sezoni 2001/2002, kada je nesretno 
            eliminisan u prvom kolu od turskog predstavnika.
            Dvorana - KK &quot;Čelik&quot; je do 2009. svoje utakmice igrao u dvorani &quot;Bilimišće&quot;. Izgradnjom moderne
            Gradske arene Zenica, KK &quot;Čelik&quot; je dobio svoj novi dom. Kapacitet Gradske arene Zenica iznosi 6.145
            sjedećih mjesta. Prvu prvenstvenu utakmicu u novoizgrađenoj areni, KK &quot;Čelik&quot; je odigrao 17.10.2009.
            godine u prvom kolu prvenstva BiH, protiv ekipe Mladost iz Mrkonjić grada.</p>
        
        </div>
    </div>
    <div id="rukomet-section" class="rukomet-section">
        <div class="divRukomet"><p>Rukometni kub ,,Čelik” je osnovan 1950. godine i spada u red najstarijih rukometnih klubova u BiH i
            jugoistočnoj Evropi, jer je osnovan svega godinu dana poslije početka igranja rukometa u Bosni i
            Hercegovini i bivšoj Jugoslaviji. Prvobitni naziv kluba je bio RK “Zenica”, da bi tokom sedamdesetih
            godina prošlog vijeka promijenio u RK “Čelik”, što je ostalo i do danas.
            RK ,,Čelik” je imao svojih uspona i padova, ali nikada nije prestajao sa radom.
            U sezoni 2008./09 RK Čelik je u prvoj ligi Federacije BiH izborio prvo mjesto i plasman u Premijer ligu
            BiH, gdje je osam godina igrao jednu od najvažnijih uloga u BiH rukometu. Sada je u Prvoj Ligi FBiH
            Sjever.
            U 65 godina postojanja kluba RK Čelik je u 2015. godini postigao najbolje rezultate, te prvi put u istoriji –
            plasman u evropske rukometne kupove.
            Sinonim za zenički rukomet predstavlja Rukometni stadion Papirna, na čijem otvorenom betonskom terenu
            su učile i stasale mnogobrojne generacije zeničkih rukometaša.
            U sklopu stadiona, koji se nalazi na adresi Abdulaziza Aska Borića broj 31, se nalaze i službene prostorije
            kluba.
            U prošlosti, RK Čelik je svoje službene utakmice igrao u dvorani “Bilimišće.
            Od sezone 2009/2010 RK Čelik sve utakmice igra u, po opštim ocjenama najljepšoj, najboljoj i
            najfuncionalnijoj dvorani u BiH – Gradskoj areni Zenica, koja ima sve sadržaje evropskog i svjetskog nivoa
            utakmice igra u Gradskoj areni Zenica.
            Klub je ponosan na činjenicu da su bili organizatori prvog sportskog događaja u novoizgrađenoj Areni, kada
            su 24.04.2009. ugostili ekipu RK Gračanica i pobjedom u tom susretu osigurali plasman u Premijer ligu BiH
            u rukometu.</p></div>
    </div>
    <div id="ragbi-section" class="ragbi-section">
        <div class="divRagbi">
            <p>Ragbi Klub Čelik Zenica je najuspješniji bosanskohercegovački ragbi klub. Osnovan je 1972. godine u
            Zenici. Klupske boje su crno-crvene. Klub svoje utakmice odigrava na terenima Stadiona Kamberovića
            polje i Bilino polje.
            Ragbi klub Čelik je prvi osnovani ragbi klub u Bosni i Hercegovini. Osnovala ga je grupa istaknutih
            zeničkih intelektualaca na čelu sa Odić Nezirom, Sarajlić Abdulahom, Haramandić Hakijom, Tarabar
            Askom, Talić Muhamedom, Hadžić Raifom i Salčinović Emirom. Ipak, najpoznatija ličnost koja je vezana
            za ragbi sport jeste Suad Kapetanović, koji je tada igrao za RK Zagreb. Na prvom sastanku, održanom
            05.03.1972. godine u prostorijama željezarske kasine, Suad Kapetanović je prikazao informativne materijale
            o ragbi sportu i pritom je zakazan termin za prvi trening kluba. Prvi predsjednik kluba je bio Nezir Odić, a
            potpredsjednik Abdulah Sarajlić – Dulče. Prvobitni naziv kluba je bio Ragbi klub “Zenica”, dok od 1978.
            klub nosi današnji naziv. Historijski datum za Ragbi Klub Čelik predstavlja 08.03.1972. godine kada je
            održan prvi trening na pomoćnom terenu stadiona “Blatuša”. Na treningu je prisustvovalo oko 40-tak
            zainteresovanih, a trening su vodili Suad Kapetanović i Raif Hadžić.
            Prva test utakmica je odigrana 20.09.1972. godine, a protivnik je bla kombinovana ekipa Nade iz Splita i
            Energoinvesta iz Makarske. Zenički klub je izgubio ovu utakmicu, a prvi skor u historiji kluba je postigao
            Sulejman Šabanović – Frenki. Prva zvanična, tj. prvenstvena utakmica kluba se odigrala 1972. godine u
            Zagrebu protiv ekipe Lokomotiva, koju su zeničani izgubili sa 52-0. Iste godine klub učestvuje u svom
            prvom natjecanju – Prvenstvo Jugoslavije Skupina “B”. Početkom osamdesetih godina 20. vijeka, dolazi do
            jačanja kluba što dovodi do osvajanja prvog Seniorskog prvenstva Jugoslavije u sezoni 1981/1982. Nakon
            toga dolazi niz od sedam osvojenih prvenstava i sest osvojenih Kupa Maršala Tita. Tokom osamdesetih
            godina Čelikovi igrači postaju okosnica reprezentacije Jugoslavije i mnogi od njih uspješno nastavljaju
            karijeru u klubovima širom Evrope.
            Nakon rata Ragbi klub Čelik je osvajač svih održanih prvenstava u Bosni i Hercegovini. Igrači Ragbi kluba
            Čelik predstavljaju okosnicu reprezentacije Bosne i Hercegovine. Klub se pored prvenstva BiH takmiči i
            Regionalnoj ragbi ligi, gdje ostvaruje zapažene rezultate. U sklopu kluba postoji i ženska ekipa, koja se
            također takmiči u Regionalnoj ligi. </p></div>
    </div>
    
</body>
</html>