
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body, html {
    overflow-x: hidden; /*Sprjecava skrolanje u stranu*/
}
/*Prvi screen*/
body {
    display: flex;
    height: 500vh;
    width: 100vw;
    margin: 0;
    flex-direction: column;
    border: 0;
}

.card1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(slike/bilino\ polje.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

.subcard1 {
    height: 100%;
    width: 66%;
    
}

.subcard2 {
    height: 100%;
    width: 33%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}

.sport {
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sport > h1 {
    font-size: 100pt;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fudbal {
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fudbal > h1 {
    font-size: 70pt;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.kosarka > h1 {
    font-size: 70pt;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.kosarka {
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.rukomet {
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ragbi {
    height: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sport > h1 {
    font-size: 120pt;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.fudbal > a,
.kosarka > a,
.rukomet > a,
.ragbi > a {
    font-size: 70pt;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fudbal > a {
    text-decoration: none;
    color: white;
}

.fudbal-section {
    height: 100vh;
    background-image: url(slike/nkcelik-1635420934.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tekst {
    height: 90%;
    width: 50%;
    padding: 100px; /* Updated margin to padding for better spacing */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 40px;
}

.slike > p {
    font-size: 32pt;
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.slike {
    height: 90%;
    width: 50%;
    padding: 100px; /* Updated margin to padding for better spacing */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 40px;
}   
    

.kosarka > a {
    text-decoration: none;
    color: white;
}

.kosarka-section {
    height: 100vh;
    background-image: url(slike/Utakmica_kk_celik_u_areni01.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.rukomet > a {
    text-decoration: none;
    color: white;
}

.rukomet-section {
    height: 100vh;
    background-color: lightblue;
}

.ragbi > a {
    text-decoration: none;
    color: white;
}

.ragbi-section {
    height: 100vh;
    background-color: lightblue;
}